# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ScalarAPI.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\excommunicado\RiderProjects\ScalarAPI\.idea\.idea.ScalarAPI\.idea/dataSources/
/dataSources.local.xml
